html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.form-floating h1, p {
  text-align: center;
}

.form-signin {
  max-width: 350px;
  padding: .5rem;
  text-align: center; /* Alinhar o texto no centro */
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-radius: 1;

  width: 100%;
}

.form-signin input[type="password"] {
  border-radius: 1;
}